!!!
%html
  %head
    %meta{charset: "utf-8"}
    
    %title
      = "CanvasApp - #{current_page.data.title || 'Collaboration System'}"
    
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  %body
    .wrapper
      %header#header
        %h1#site-logo
          %a{href: "./index.html"}
            %img{alt: "Site Logo", src: "/images/logos/logo.png"}/
        %a#top-bar-toggle.navbar-toggle.collapsed{"data-target" => ".top-bar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.icon-cog
        %a#sidebar-toggle.navbar-toggle.collapsed{"data-target" => ".sidebar-collapse", "data-toggle" => "collapse", href: "javascript:;"}
          %i.icon-reorder
      #search
        %form
          %input.form-control.input-sm{name: "search", placeholder: "Search...", type: "text"}/
          %button#search-btn.btn{type: "submit"}
            %i.icon-search
      %nav#sidebar
        %ul#main-nav.open-active
          %li{class: "#{"active open" if current_page.data.name == 'dashboard'}"}
            %a{href: "/dashboard"}
              %i.fa.fa-dashboard
              Dashboard
          %li.dropdown{class: "#{"active open" if current_page.data.name == 'directorio'}"}
            %a{href: "#"}
              %i.fa.fa-book
              Directorio
              %span.caret
            %ul.sub-nav.icons-list
              %li
                %a{href: "/directorio/usuarios"}
                  %i.fa.fa-user
                  Usuarios
              %li
                %a{href: "/directorio/grupos"}
                  %i.fa.fa-group
                  Grupos
          %li{class: "#{"active open" if current_page.data.name == 'calendario'}"}
            %a{href: '/calendario'}
              %i.fa.fa-calendar
              Calendario
          %li{class: "#{"active open" if current_page.data.name == 'tasks'}"}
            %a{href: '/tasks'}
              %i.fa.fa-ticket
              Tickets
          %li{class: "#{"active open" if current_page.data.name == 'archiveros'}"}
            %a{href: '/archivero'}
              %i.fa.fa-files-o
              Archivos
          %li{class: "#{"active open" if current_page.data.name == 'mensajes'}"}
            %a{href: '/mensajes'}
              %i.fa.fa-comments
              Mensajes

      #content
        = yield
      %footer#footer
        %ul.nav.pull-right
          %li
            Copyright © 2013,
            %a{href: "http://www.parbros.com", target: '_blank'} ParBros Labs