---
title: Mensajes
name: mensajes
---
#content-header
  %h1  Mensajes
#content-container
  .row
    .col-md-3.col-sm-5
      %ul#myTab.nav.nav-pills.nav-stacked
        %li
          %a{"data-toggle" => "tab", href: "#home-3"}
            = image_tag 'vr-avatar.png', class: 'small-round-avatar'
            Victor Rojas
        %li.active
          %a{"data-toggle" => "tab", href: "#profile-3"}
            = image_tag 'mc-avatar.png', class: 'small-round-avatar'
            Miguel Castilla

    .col-md-9.col-sm-7
      #myTabContent.tab-content.stacked-content
        #home-3.tab-pane.fade
          .row
            .col-lg-2.col-sm-2
              = image_tag 'vr-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:35 PM
            .col-lg-10.col-sm-10
              %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          .row
            .col-lg-2.col-sm-2
              = image_tag 'vr-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:38 PM
            .col-lg-10.col-sm-10
              %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
          .row
            .col-lg-10.col-sm-10
              %p.you-message Bacon ipsum dolor sit amet sirloin tongue leberkas, boudin bacon rump frankfurter jerky shank brisket turducken. T-bone pork tenderloin biltong brisket flank frankfurter short ribs capicola pork chop jerky hamburger ham hock pork loin salami. Sausage capicola fatback leberkas pork chop shoulder tri-tip cow pastrami kevin strip steak.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:42 PM
          .row
            .col-lg-2.col-sm-2
              = image_tag 'vr-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:45 PM
            .col-lg-10.col-sm-10
              %p Flank kielbasa pork pork belly, meatloaf sausage hamburger jowl ham salami pork loin beef ribs cow. Flank venison kevin shank pancetta meatball beef ribs ground round pig ribeye biltong.
          .row
            .col-lg-10.col-sm-10
              %p.you-message Jowl flank cow pancetta. Pig shank jerky swine pastrami boudin jowl. Boudin kevin chuck corned beef, short loin pork loin shank flank ribeye turkey. Beef fatback pig, cow tenderloin bresaola pork loin.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:47 PM
          .well.row
            .col-lg-12
              %textarea#count-textarea1.form-control{rows: "3"}
            .col-lg-12
              %input.btn.btn-success.pull-right{type: 'button', value: 'Enviar'}

        #profile-3.tab-pane.fade.active.in
          .row
            .col-lg-2.col-sm-2
              = image_tag 'mc-avatar.png', class: 'small-round-avatar'
              %p.text-muted 5 Dic 02:23 PM
            .col-lg-10.col-sm-10
              %p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
          .row
            .col-lg-10.col-sm-10
              %p.you-message Bacon ipsum dolor sit amet sirloin tongue leberkas, boudin bacon rump frankfurter jerky shank brisket turducken. T-bone pork tenderloin biltong brisket flank frankfurter short ribs capicola pork chop jerky hamburger ham hock pork loin salami. Sausage capicola fatback leberkas pork chop shoulder tri-tip cow pastrami kevin strip steak.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:42 PM
          .row
            .col-lg-2.col-sm-2
              = image_tag 'mc-avatar.png', class: 'small-round-avatar'
              %p.text-muted 5 Dic 02:23 PM
            .col-lg-10.col-sm-10
              %p Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.  Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
          .row
            .col-lg-10.col-sm-10
              %p.you-message Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:42 PM
          .row
            .col-lg-2.col-sm-2
              = image_tag 'mc-avatar.png', class: 'small-round-avatar'
              %p.text-muted 5 Dic 02:23 PM
            .col-lg-10.col-sm-10
              %p Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
          .row
            .col-lg-10.col-sm-10
              %p.you-message Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:42 PM
          .row
            .col-lg-10.col-sm-10
              %p.you-message Pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
            .col-lg-2.col-sm-2
              = image_tag 'dm-avatar.png', class: 'small-round-avatar'
              %p.text-muted 3 Dic 12:42 PM
          .well.row
            .col-lg-12
              %textarea#count-textarea2.form-control{rows: "3"}
            .col-lg-12
              %input.btn.btn-success.pull-right{type: 'button', value: 'Enviar'}